recipe-scrapers
pyrebase4
reportlab
requests
beautifulsoup4
json
flask
recipe_scrapers
reportlab.lib.pagesizes
reportlab.platypus
reportlab.lib
reportlab.pdfgen
io
reportlab.lib.units
reportlab.lib.styles
reportlab.platypus
reportlab.pdfbase
reportlab.pdfbase.ttfonts